body {
    margin: 10px 20px;
    box-sizing: border-box;
    background-color: lightyellow;
}

#sectionRes h2 {
    text-transform: capitalize;
}

#sectionRes ul {
    list-style: none;
    padding: 0;
}

#sectionRes ul li {
    margin-bottom: 5px;
}